{'area_adjacency': [[1, 1, 1], [1, 1, 1], [1, 1, 1]],
'initial_guess': { '<e>':0.01,
    '<A1>':1,
    '<B1>':1,
    '<C1>':1,
    '<A2>':1,
    '<B2>':1,
    '<C2>':1,
    '<A3>':1,
    '<C3>':1,
    '<A4>':1,
    '<B4>':1,
    '<C4>':1},
 'area_dispersal': [[[   1.0, '<A4>', '<B4>'],
                     ['<A4>',    1.0, '<C4>'],
                     ['<B4>', '<C4>',   1.0 ]],
                    [[   1.0, '<A3>', 0.0],
                     ['<A3>',    1.0, '<C3>'],
                     [0.0, '<C3>',    1.0]],
                    [[   1.0, '<A2>', '<B2>'],
                     ['<A2>',    1.0, '<C2>'],
                     ['<B2>', '<C2>',    1.0]],
                    [[   1.0, '<A1>', '<B1>'],
                     ['<A1>',    1.0, '<C1>'],
                     ['<B1>', '<C1>',    1.0]]],
 'area_labels': ['SA', 'ANT', 'AUS'],
 'base_rates': '__estimate__',
 'dispersal_durations': [40.0, 40.0, 70.0, 50.0],
 'dm_symmetric_entry': True,
 'excluded_ranges': [],
 'lagrange_version': '20110117',
 'max_range_size': 3,
 'model_name': 'Nothofagus_SS_D30',
 'newick_trees': [{'included': '__all__',
                   'name': 'Tree0',
                   'newick': '(GONDWANA:190.0, (((((Nothofagus_brassii:18.2, (Nothofagus_resinosa:12.1, (Nothofagus_perryi:7.5, (Nothofagus_carrii:3.8, Nothofagus_grandis:3.8)N6:3.7)N7:4.6)N8:6.1)N9:7.9, (Nothofagus_codonandra:16.4, ((Nothofagus_balansae:3.8, Nothofagus_aequilateralis:3.8)N13:9.0, (Nothofagus_baumanniae:6.5, Nothofagus_discoidea:6.5)N16:6.3)N17:3.6)N18:9.7)N19:16.4, ((Nothofagus_antarctica:19.7, (Nothofagus_pumilio:13.2, Nothofagus_dombeyi:13.2)N23:6.5)N24:4.7, (Nothofagus_nitida:10.0, Nothofagus_betuloides:10.0)N27:14.4)N28:18.1)N29:10.3, (Nothofagus_alessandri:30.0, (Nothofagus_gunnii:16.1, (Nothofagus_cliffortiodes:5.3, (Nothofagus_truncata:3.1, (Nothofagus_solandri:1.7, Nothofagus_fusca:1.7)N36:1.4)N37:2.2)N38:10.8)N39:13.9)N40:22.8)N41:19.3, ((Nothofagus_alpina:14.8, (Nothofagus_obliqua:6.6, Nothofagus_glauca:6.6)N45:8.2)N46:27.2, (Nothofagus_menziesii:20.4, (Nothofagus_moorei:10.5, Nothofagus_cunninghamii:10.5)N50:9.9)N51:21.6)N52:30.1)N53:117.9)N54;',
                   'root_age': 190.0}],
 'ranges': [(), (0,), (0, 1), (0, 1, 2), (0, 2), (1,), (1, 2), (2,)],
 'taxa': ['GONDWANA',
          'Nothofagus_brassii',
          'Nothofagus_resinosa',
          'Nothofagus_perryi',
          'Nothofagus_carrii',
          'Nothofagus_grandis',
          'Nothofagus_codonandra',
          'Nothofagus_balansae',
          'Nothofagus_aequilateralis',
          'Nothofagus_baumanniae',
          'Nothofagus_discoidea',
          'Nothofagus_antarctica',
          'Nothofagus_pumilio',
          'Nothofagus_dombeyi',
          'Nothofagus_nitida',
          'Nothofagus_betuloides',
          'Nothofagus_alessandri',
          'Nothofagus_gunnii',
          'Nothofagus_cliffortiodes',
          'Nothofagus_truncata',
          'Nothofagus_solandri',
          'Nothofagus_fusca',
          'Nothofagus_alpina',
          'Nothofagus_obliqua',
          'Nothofagus_glauca',
          'Nothofagus_menziesii',
          'Nothofagus_moorei',
          'Nothofagus_cunninghamii'],
 'taxon_range_data': {'GONDWANA': (0, 1, 2),
                      'Nothofagus_aequilateralis': (2,),
                      'Nothofagus_alessandri': (0,),
                      'Nothofagus_alpina': (0,),
                      'Nothofagus_antarctica': (0,),
                      'Nothofagus_balansae': (2,),
                      'Nothofagus_baumanniae': (2,),
                      'Nothofagus_betuloides': (0,),
                      'Nothofagus_brassii': (2,),
                      'Nothofagus_carrii': (2,),
                      'Nothofagus_cliffortiodes': (2,),
                      'Nothofagus_codonandra': (2,),
                      'Nothofagus_cunninghamii': (2,),
                      'Nothofagus_discoidea': (2,),
                      'Nothofagus_dombeyi': (0,),
                      'Nothofagus_fusca': (2,),
                      'Nothofagus_glauca': (0,),
                      'Nothofagus_grandis': (2,),
                      'Nothofagus_gunnii': (2,),
                      'Nothofagus_menziesii': (2,),
                      'Nothofagus_moorei': (2,),
                      'Nothofagus_nitida': (0,),
                      'Nothofagus_obliqua': (0,),
                      'Nothofagus_perryi': (2,),
                      'Nothofagus_pumilio': (0,),
                      'Nothofagus_resinosa': (2,),
                      'Nothofagus_solandri': (2,),
                      'Nothofagus_truncata': (2,)}}
